@charset "utf-8";

/* ★★★ <body> ★★★
*/body {/*
    ★★ STYLE ★★ */
    font-size: clamp(16px, 2.5vw, 18px);
    overflow-wrap: normal;
    max-width: 100vw;
    box-sizing: border-box;/*
    ★★ COUNTER ★★ */
    counter-reset: h2-counter;
}

/* ★★★ <h2> & <h3> ★★★
*/body h2 {/*
    ★★ STYLE ★★ */
    background-color: #dbeef0;
    padding: 0.3em;
    border-bottom: solid 3px;/*
    ★★ COUNTER ★★ */
    counter-reset: h3-counter;
}
body h2::before {
    counter-increment: h2-counter;
    content: "[" counter(h2-counter) "] ";
}
body h3 {/*
    ★★ STYLE ★★ */
    padding: 0.3em;
    border-bottom: double 3px;
}
body h3::before {
    counter-increment: h3-counter;
    content: "[" counter(h2-counter) "-" counter(h3-counter) "] ";
}

/* ★★★STYLE OF <div> ★★★
*/@media screen and (max-width:415px) {
    div {
        overflow-x: auto;
        width: 332px;
    }
}
@media screen and (min-width:416px) and (max-width:520px) {
    div {
        overflow-x: auto;
        width: 416px;
    }
}
@media screen and (min-width:521px) and (max-width:767px) {
    div {
        overflow-x: auto;
        width: 614px;
    }
}
@media screen and (min-width:768px) and (max-width:960px) {
    div {
        overflow-x: auto;
        width: 768px;
    }
}
@media screen and (min-width:961px) {
    div {
        overflow-x: auto;
        width: 1200px;
    }
}

/* ★★★ (Currently Not Applied)
        STYLE OF SOMETHING AROUND <div id="toc">★★★
div#toc {
    margin: 0 auto;
}
div#toc ol {
  counter-reset: toc-li;
  list-style-type: none;
}
div#toc ol li::before {
  counter-increment: toc-li;
  content: "[" counters(toc-li,"-") "] ";
}

★★★STYLE OF SOMETHING AROUND <table>★★★
*/div:has(table) {
    padding-top: 1.5em;
    padding-left: 1em;
    padding-bottom: 1.5em;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    empty-cells: show;
    white-space: nowrap;
}
th {
    background-color: #f5e1e1;
}
tbody tr:nth-child(even) {
    background-color: #e2e2e2;
}
table+p {
    width: 100%;
}
