@charset "utf-8";

/* ★★★ <html> etc. ★★★
*/html {
    font-size: clamp(16px, 2.5vw, 18px);
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: light dark;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* ★★★ <body> ★★★
*/body {/*
    ★★ STYLE ★★ */
    overflow-wrap: normal;
    max-width: 100vw;/*
    ★★ COUNTER ★★ */
    counter-reset: h2-counter;
}

/* ★★★ <h2> & <h3> ★★★
*/body h2 {/*
    ★★ STYLE ★★ */
    background-color: #dbeef0;
    padding: 0.3em;
    border-bottom: solid 3px;/*
    ★★ COUNTER ★★ */
    counter-reset: h3-counter;
}
body h2::before {
    counter-increment: h2-counter;
    content: "[" counter(h2-counter) "] ";
}
body h3 {/*
    ★★ STYLE ★★ */
    padding: 0.3em;
    border-bottom: double 3px;
}
body h3::before {
    counter-increment: h3-counter;
    content: "[" counter(h2-counter) "-" counter(h3-counter) "] ";
}

/* ★★★ (Currently Not Applied)
        STYLE OF SOMETHING AROUND <div id="toc">★★★
#toc {
    margin: 0 auto;
}
#toc ol {
  counter-reset: toc-li;
  list-style-type: none;
}
#toc ol li::before {
  counter-increment: toc-li;
  content: "[" counters(toc-li,"-") "] ";
}

★★★STYLE OF <div class="scrollable-wrapper">★★★
*/div.scrollable-wrapper {
    overflow-x: auto;
}
@media screen and (min-width:0px) and (max-width:200px) {
    div.scrollable-wrapper {
        width: 161px;
    }
}
@media screen and (min-width:201px) and (max-width:250px) {
    div.scrollable-wrapper {
        width: 201px;
    }
}
@media screen and (min-width:251px) and (max-width:313px) {
    div.scrollable-wrapper {
        width: 251px;
    }
}
@media screen and (min-width:314px) and (max-width:392px) {
    div.scrollable-wrapper {
        width: 314px;
    }
}
@media screen and (min-width:393px) and (max-width:490px) {
    div.scrollable-wrapper {
        width: 393px;
    }
}
@media screen and (min-width:491px) and (max-width:613px) {
    div.scrollable-wrapper {
        width: 491px;
    }
}
@media screen and (min-width:614px) and (max-width:767px) {
    div.scrollable-wrapper {
        width: 614px;
    }
}
@media screen and (min-width:768px) and (max-width:959px) {
    div.scrollable-wrapper {
        width: 768px;
    }
}
@media screen and (min-width:960px) and (max-width:1199px) {
    div.scrollable-wrapper {
        width: 960px;
    }
}
@media screen and (min-width:1200px) and (max-width:1499px) {
    div.scrollable-wrapper {
        width: 1200px;
    }
}
@media screen and (min-width:1500px) and (max-width:1874px) {
    div.scrollable-wrapper {
        width: 1500px;
    }
}
@media screen and (min-width:1875px) and (max-width:2343px) {
    div.scrollable-wrapper {
        width: 1875px;
    }
}
@media screen and (min-width:2344px) and (max-width:2929px) {
    div.scrollable-wrapper {
        width: 2344px;
    }
}

/* ★★★STYLE OF <div class="main-content">★★★
*/div.main-content {
    width: fit-content;
    border:2rem solid #e6f5db;
    padding: 1rem
}

/* ★★★STYLE OF <div class="sub-content">★★★
*/@media screen and (min-width:0px) and (max-width:200px) {
    div.sub-content {
        width: calc(161px - 6rem);
    }
}
@media screen and (min-width:201px) and (max-width:250px) {
    div.sub-content {
        width: calc(201px - 6rem);
    }
}
@media screen and (min-width:251px) and (max-width:313px) {
    div.sub-content {
        width: calc(251px - 6rem);
    }
}
@media screen and (min-width:314px) and (max-width:392px) {
    div.sub-content {
        width: calc(314px - 6rem);
    }
}
@media screen and (min-width:393px) and (max-width:490px) {
    div.sub-content {
        width: calc(393px - 6rem);
    }
}
@media screen and (min-width:491px) and (max-width:613px) {
    div.sub-content {
        width: calc(491px - 6rem);
    }
}
@media screen and (min-width:614px) and (max-width:767px) {
    div.sub-content {
        width: calc(614px - 6rem);
    }
}
@media screen and (min-width:768px) and (max-width:959px) {
    div.sub-content {
        width: calc(768px - 6rem);
    }
}
@media screen and (min-width:960px) and (max-width:1199px) {
    div.sub-content {
        width: calc(960px - 6rem);
    }
}
@media screen and (min-width:1200px) and (max-width:1499px) {
    div.sub-content {
        width: calc(1200px - 6rem);
    }
}
@media screen and (min-width:1500px) and (max-width:1874px) {
    div.sub-content {
        width: calc(1500px - 6rem);
    }
}
@media screen and (min-width:1875px) and (max-width:2343px) {
    div.sub-content {
        width: calc(1875px - 6rem);
    }
}
@media screen and (min-width:2344px) and (max-width:2929px) {
    div.sub-content {
        width: calc(2344px - 6rem);
    }
}

/*★★★STYLE OF SOMETHING AROUND <table>★★★
*/table {
    display: inline-block;
    border-collapse: collapse;
}
caption {
    white-space: nowrap;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
tbody tr:nth-child(even) {
    background-color: #d4d4d4;
}
th, td {
    border: 1px solid;
    border-collapse: collapse;
    empty-cells: show;
    white-space: nowrap;
}
th {
    background-color: #f7c9c9;
}
